#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 1000px;
  background-color: white;
  padding: 50px;
}

.avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 100px;
}

.catpicture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#chessimages img {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/bk.jpg");
  background-size: 105%
}

.menu {
  padding: 10px;
  font-size: 20px;
}

.menu a {
  padding: 10px 15px;
  border: 0px;
  background-color: lemonchiffon;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  background-color: darkorange;
  color: white;
}

ul {
  
}