#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 100px;
}

.catpic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: 300px;
}

.h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.body {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}