#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  min-height: 1000px;
  background-color: white;
  padding: 50px;
  color: darkslategrey;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  margin-top: 20px;
}

.avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 100px;
}

.catpicture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#chessimages img {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/bk.jpg");
  background-size: 105%
}

.menu {
  padding: 10px;
  font-size: 20px;
}

.menu a {
  padding: 10px 15px;
  background-color: lemonchiffon;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  background-color: darkorange;
  color: white;
}

.linklist {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30%;
  text-align: center;
  font-size: 20px;
}

.linklist a {
  background-color: lemonchiffon;
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.linklist a:hover {
  background-color: darkorange;
  color: white;
}

#number-button button {
  background-color: lemonchiffon;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#number-button button:hover {
  background-color: darkorange;
  color: white;
}